.post-footer post-footer-custom{
  width: 100px;
}

.post-details {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .post-card {
    width: 1100px;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
  }
  
  .post-content {
    width: 400px;

    min-height: 10px;
  }
  
  .post-body {
    margin: 20px 0;
  }

  .all-posts {
    background-color: #5a5252;
  }

  .post-card my-3 shadow {
    width: 400px;
  }

  .post-title {
    text-align: center;
  }

  .post-details {
    font-size: 80%;
    
  }
  .post-button-container-custom {
    margin-left: auto;
  }

 