.login-container {
  background-image: url("C:\Users\Albert\Desktop\pastebin-clone\pastebinpic/Login6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 150px; /* Adăugați aici o valoare de margine, de exemplu 50px */
  display: flex;
  flex-direction: column;
}

.login-form input,
.login-form button {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.login-button {
  margin-top: 1rem;
  align-self: center;
}