.home-page {
    background-image: url("C:\Users\Albert\Desktop\pastebin-clone\pastebinpic/Singup1.jpg");
    background-size: contain;
    background-position: center;
    height: 90vh;
    background-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    }

.text p {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(1, 14, 205);
    padding: 1rem;
    font-size: 17px;
    font-style: italic;
    
  }

  .text {
    transform: skewX(-20deg);
    transform: rotate(-12deg);
    margin-right: 72%;
    margin-bottom: 1000px;
    position: relative;
  }

  .title h2 {
    margin-top: 700px;
    margin-left: 120%;
    color: white;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 55px;
    white-space:nowrap;
  }
  
  a {
    color: rgb(82, 140, 201);
  }

  


